<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Para ajusar a móviles-->
    <title>EDITAR MOVIMIENTO</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
</head>
<body>
    <h1>Modifica o elimina el movimiento:</h1>

    
    <form action="{{ url_for('main.actualizar_movimiento', id_movimiento=movimiento.id) }}" method="post">
    <label for="nombre">Concepto:</label>
    <input type="text" id="nombre" name="nombre" required placeholder="(máx. 20 caracteres)" maxlength="20" value="{{ movimiento.nombre }}"><br>
    
    <label for="monto">Monto:</label>
    <input type="text" id="monto" name="monto" required pattern="(-)?\d{1,9}(\.\d{1,2})?" title="Introduce un número con hasta 7 dígitos y 2 decimales" maxlength="13" value="{{ movimiento.monto }}">

    <label for="descr">Descripción:</label>
    <input type="text" id="descr" name="descr" placeholder="(opcional)" maxlength="38" value="{{ movimiento.descr }}"><br>
    
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required value="{{ movimiento.fecha }}"><br>

    <input type="submit" value="Guardar">
    </form>

    <form action="{{ url_for('main.eliminar_movimiento', id_movimiento=movimiento.id) }}" method="post">
        <input type="submit" value="Eliminar Movimiento">
    </form>

</body>
</html>