<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Para ajusar a móviles-->
    <title>Guardado exitoso</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
</head>
<body>
    <h1>Datos guardados exitosamente</h1>

    <button class="boton" id="botonMovimientos">Ver movimientos</button>
    <button class="boton" id="botonInicio">Ir al inicio</button>

    <script src="{{ url_for('static',filename='js/exito.js') }}"></script>
</body>
</html>