<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--Para ajusar a móviles-->
    <title>BALANCE FINANCIERO</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/estilos.css') }}">
</head>
<body>
    <h1>En próximas actualizaciones puedes esperar:</h1>
    <br>
    <h2>Filtros para ver tus movimientos:</h2>
    <h4>-Por intervalos de tiempo<br>-Sólo ingresos<br>-Sólo gastos</h4>
    <br>
    <h2>Más información en tu balance financiero:</h2>
    <h4>-Balance por intervalos de tiempo<br>-Gráficas para visualizar mejor los datos</h4>
    <br>
    <button class="boton" id="botonInicio">Ir al inicio</button>

    <script src="{{ url_for('static',filename='js/soon.js') }}"></script>
</body>
</html>